body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}
img{
    display: block;
}
a{
    text-decoration: none;
}

h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-header{
    display: flex;
    align-items: center;
}


.header {
    border-bottom: 1px solid #e7e9fc;

}



.header-nav{
    margin-right: auto;
    display: flex;
    align-items: center;
}


ul, nav ul,
address ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        width: 115px;
            height: 24px;
            margin-right: 76px;
        
}

.logo-part {
    color: #2E2F42;
}

.header-list{
    display: flex;
        align-items: flex-start;
        gap: 40px;
}

.nav-link {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
        gap: 40px;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.addres-list{
    display: flex;
    gap: 40px;
}

.section-one{
    background: #2e2f42;
    padding: 188px 0;
    text-align: center;
    margin: 0 auto;
}

.section-one-title{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        line-height: 1.07;
        max-width: 496px;
        padding-bottom: 48px;
        margin: 0 auto;
}


.section-one-btn{
        background: #4d5ae5;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 10px;
            border-radius: 4px;
                width: 169px;
                display: block;
                min-width: 169px;
                height: 56px;
                border: none;
                cursor: pointer;
                margin: 0 auto;
}

.section-one-btn:hover{
background-color: #404BBF;
}

.section-one-btn:focus{
    background-color: #404BBF;
}


.advantages{
    padding: 120px 0;

}

.visually-hidden{
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.advantages-list{
    display: flex;
    gap: 24px;
}

.advantages-item{
width: calc((100% - 72px) / 4);
}



.advantages-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.advantages-item-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.team-main{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-item{
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-list{
display: flex;
gap: 24px;
}

.team-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-item-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-div{
padding: 32px 0
}


.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}


.portfolio-title{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list{
    flex-wrap: wrap;
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
}


.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-item-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}


.footer-main{
    background: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        
}

.footer-logo-color {
display: inline-block;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
font-family: "Raleway", sans-serif;
}

.footer-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;

}

ul {
    list-style: none;
}